body, html {
  height: 100%;
  margin: 0;
}
    .bgimg_Travels {
  background-image: url('img/travelback.jpg');
        height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
              }

    .bgimg_Books {
  background-image: url('img/booksback.jpg');
      height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
              }

    .bgimg_Musics {
  background-image: url('img/musicback.jpg');
      height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
              }

    .bgimg_Videos {
  background-image: url('img/videoback.jpg');
      height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
              }

    .bgimg_DS {
  background-image: url('img/databack.jpg');
      height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
              }

    .bgimg_WW {
  background-image: url('img/webback.jpg');
      height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
              }

    .bgimg_s {
  background-image: url('img/musicback.jpg');
      height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
              }

    .bgimg_Musics {
  background-image: url('img/musicback.jpg');
      height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
              }

    .bgimg_Musics {
  background-image: url('img/musicback.jpg');
      height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
              }

.topleft {
  position: absolute;
  top: 0;
  left: 16px;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

hr {
  margin: auto;
  width: 40%;
}
